#gameBoard {
    display: block;
    margin: auto;
    height: 406px;
    width: 406px;
    background-color: whitesmoke;
    border: solid rgb(51, 148, 51) ;
}
body {
    background-color: wheat;
}
.gameCell {
    border: solid rgb(0, 0, 0) thin;
    height: 50px;
    width: 50px;
}
.grey {
    background-color: grey;
}
.piece {
    width: 100%;
    height: auto;
}
.grave {
    height: 30px;
    width: 30px;
}
#whiteGrave {
    margin-top: 100px;
    width: 245;
}
.graveRow {
    margin: auto;
    height: 34px;

}
.container {
    width: 450px;
}